<div class='display-post'>
    <div class="card mb-6">
        <div class="card-header has-background-info">
            <a href="api/posts/{{post.id}}" class="card-header-title">
                {{post.title}}
            </a>
        </div>
        <div class="card-content">
            <p class="content">
                {{post.body}}
            </p>
        </div>
        <div class="card-footer has-background-grey-lighter">
            <p class="card-footer-item">
                Posted by {{post.user.username}} at {{post.date_created}}
            </p>
        </div>
    </div>

    <form class="container comment-form">
        <div class="field">
            <label class="label has-text-white">Comment</label>
            <div class="control">
                <textarea class="textarea" type="text" id="comment-body"
                    placeholder="enter your comment here"></textarea>
            </div>
        </div>
        <div class="field">
            <button class="button" type="submit">Submit</button>
        </div>
    </form>
</div>

<script src=".././js/commentform.js"></script>