<div class='display-post'>
    <div class="card mb-6">
        <div class="card-header has-background-info">
            <p class="card-header-title">
                {{post.title}}
            </p>
        </div>
        <div class="card-content">
            <p class="content">
                {{post.body}}
            </p>
        </div>
        <div class="card-footer has-background-grey-lighter">
            <p class="card-footer-item">
                Posted by {{post.user.username}} at {{post.date_created}}
            </p>
        </div>
    </div>

    <div class ="container is-flex is-justify-content-center">
        <button onclick="location.href = '/commentform/{{post.id}}'" class="button mb-6 is-link">Comment</button>
    </div>

    <div class ="container is-flex is-justify-content-center">
        <h2 class="has-text-white is-size-3">Comments</h2>
    </div>

    {{#each post.comments as |comment|}}
    <div class="card mb-6">
        <div class="card-content">
            <p class="content">
                {{comment.body}}
            </p>
        </div>
        <div class="card-footer has-background-grey-lighter">
            <p class="card-footer-item">
                Posted by {{comment.user.username}} at {{comment.date_created}}
            </p>
        </div>
    </div>
    {{/each}}
</div>